
@{
    ViewData["Title"] = "AnaSayfa";
    Layout = "~/Views/Shared/Layoutproject.cshtml";
}

<section class="pt-5 mt-5 ">
    <div class="container">
        <div class="row align-items-center justify-content-around mt-3">
            <div class="col-md-6">
                <svg class="mr-5" xmlns="http://www.w3.org/2000/svg" width="102.537" height="113.592" viewBox="0 0 102.537 113.592">
                    <g id="Group_8608" data-name="Group 8608" transform="translate(-11.747 93.073) rotate(-71)">
                        <path id="Shape_1379" data-name="Shape 1379" d="M0,72.472S7.59-12.615,57.059,1.6c0,0,15.644,19.248-6.847,38.864C50.212,40.466,4.387,53.719,0,72.472Z" transform="translate(36.083 0)" fill="#c5d98b" />
                        <path id="Shape_1379_copy" data-name="Shape 1379 copy" d="M0,16.457s39.157-32.788,54.083-5.8c0,0-1.511,14.775-19.315,13.544C34.768,24.2,9.779,10.382,0,16.457Z" transform="translate(43.325 63.06)" fill="#c5d98b" />
                        <path id="Shape_1379_copy_2" data-name="Shape 1379 copy 2" d="M18.756,33.262S25.015-.551,4.146.007c0,0-8.2,5.906-1.539,15.785C2.608,15.791,19.076,25.537,18.756,33.262Z" transform="translate(0 29.762)" fill="#c5d98b" />
                    </g>
                </svg>
                <div class="ml-5" style="font-family: 'Poppins', sans-serif;">
                    <h1 style="color: #324755;">12 Hafta içerisinde </h1>
                    <h1 style="color: rgb(160, 211, 52)">Aç kalmadan yasaksız beslenme ile kalıcı bir şekilde hayal ettiğin bedene kavuş</h1>
                </div>


            </div>

            <div class="col-md-5">
                <img src="~/Web Proje\img\kase.png" alt="kase">
            </div>

        </div>
    </div>
</section>

<section class="bg-light">

    <div class="container">
        <!--neden Online diyet -->
        <div class="row align-items-center text-center justify-content-around mt-5">
            <div class="col-md-7">
                <div class="mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="118.014" height="37.625" viewBox="0 0 118.014 37.625">
                        <g id="Leaf_Object" data-name="Leaf Object" transform="translate(-925 -1715.002)">
                            <g id="Leaf_Object-2" data-name="Leaf Object" transform="translate(925 1715.002)">
                                <path id="Shape_1" data-name="Shape 1" d="M3.95,35.783a.861.861,0,0,1-.325-1.264l1.535-2.592a1.852,1.852,0,0,0-.409-2.389c-3.991-3.22-6.787-9.007-2.855-15.647C6.017,6.926,23.516.367,24.335.073a.855.855,0,0,1,1.207.679c.066.793,2.994,18.857-1.178,25.9-3.259,5.506-8.278,7.647-14.017,5.928a.988.988,0,0,1-.58-1.191,1.055,1.055,0,0,1,1.218-.61c3.408.947,8.272.879,11.82-5.115,3.259-5.506,1.612-19.392.99-23.415C19.914,3.738,6.762,9.29,3.5,14.8c-4.17,7.047.87,11.937,2.448,13.258a3.708,3.708,0,0,1,.817,4.78L5.233,35.426a.923.923,0,0,1-.795.493A1,1,0,0,1,3.95,35.783Zm4.315-7.29a.91.91,0,0,1-.325-1.262l1.247-2.106L5.481,15.8a.925.925,0,0,1,.51-1.224.9.9,0,0,1,1.222.471l3.219,7.969,2.589-4.373-3.056-6.8a1.019,1.019,0,0,1,.511-1.225A.985.985,0,0,1,11.7,11.1l2.474,5.6,2.158-3.645-1.6-3.818a1.02,1.02,0,0,1,.511-1.224.988.988,0,0,1,1.222.471l1.067,2.546,1.918-3.24a.9.9,0,0,1,1.282-.357A.859.859,0,0,1,21.051,8.7l-1.916,3.239,2.84-.451a.973.973,0,0,1,1.031.8,1.034,1.034,0,0,1-.833,1.044l-4.188.556-2.206,3.725,6.165-.631a.873.873,0,0,1,1.03.8.927.927,0,0,1-.833,1.044l-7.56.817-2.589,4.373,8.683-1.265a.972.972,0,0,1,1.03.8,1.034,1.034,0,0,1-.831,1.044L10.746,26.112l-1.2,2.024a.922.922,0,0,1-.795.494A.993.993,0,0,1,8.264,28.493Z" transform="translate(57.22 0)" fill="#91ad41" />
                                <path id="Shape_1_copy" data-name="Shape 1 copy" d="M14.354,25.018l-1.03-1.83a2.711,2.711,0,0,1,.548-3.376,7.183,7.183,0,0,0,1.644-9.362C13.327,6.56,4.493,2.64,1.886,1.591c-.417,2.84-1.524,12.646.665,16.535,2.383,4.233,5.652,4.281,7.94,3.611a.672.672,0,0,1,.428,1.273c-3.854,1.215-7.226-.3-9.416-4.187C-1.3,13.847.668,1.091.713.531a.574.574,0,0,1,.81-.48C2.072.26,13.828,4.892,16.6,9.81A8.419,8.419,0,0,1,14.679,20.86a1.353,1.353,0,0,0-.274,1.687l1.03,1.83a.624.624,0,0,1-.219.893.645.645,0,0,1-.328.1A.617.617,0,0,1,14.354,25.018Zm-2.9-5.147-.805-1.43-6.8-1.082a.72.72,0,0,1-.559-.736.658.658,0,0,1,.691-.562l5.834.893L8.075,13.864,3,13.287a.647.647,0,0,1-.559-.736.6.6,0,0,1,.693-.563l4.141.446L5.789,9.8,2.974,9.411a.725.725,0,0,1-.559-.737.661.661,0,0,1,.693-.562l1.909.319L3.728,6.143a.621.621,0,0,1,.219-.891.592.592,0,0,1,.862.251L6.1,7.792l.716-1.8a.651.651,0,0,1,.822-.332.733.733,0,0,1,.342.864L6.9,9.222,8.351,11.8l1.661-3.958a.65.65,0,0,1,.82-.334.734.734,0,0,1,.343.865l-2.052,4.8,1.738,3.088,2.163-5.628a.593.593,0,0,1,.82-.332.664.664,0,0,1,.343.864L11.7,17.743l.837,1.487a.663.663,0,0,1-.217.893.649.649,0,0,1-.329.1A.617.617,0,0,1,11.456,19.871Z" transform="translate(35.959 10.006)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978" data-name="Rounded Rectangle 978" d="M45.855,21h32.5a.855.855,0,1,1,0,1.71h-32.5a.855.855,0,1,1,0-1.71Z" transform="translate(31.966 14.915)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978_copy" data-name="Rounded Rectangle 978 copy" d="M66.855,21h3.421a.855.855,0,0,1,0,1.71H66.855a.855.855,0,1,1,0-1.71Z" transform="translate(46.883 14.915)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978_copy_2" data-name="Rounded Rectangle 978 copy 2" d="M4.855,21h32.5a.855.855,0,0,1,0,1.71H4.855a.855.855,0,1,1,0-1.71Z" transform="translate(2.841 14.915)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978_copy_2-2" data-name="Rounded Rectangle 978 copy 2" d="M.855,21H4.276a.855.855,0,1,1,0,1.71H.855a.855.855,0,0,1,0-1.71Z" transform="translate(0 14.915)" fill="#91ad41" />
                            </g>
                        </g>
                    </svg>

                </div>
                <h1 class=" mt-1 mb-4" style="font-family: 'Nunito', sans-serif;
            font-family: 'Poppins', sans-serif; color: #324755;">
                    Neden Online Diyet ?
                </h1>
                <p class="lead text-muted" style="font-family: 'Nunito', sans-serif;
            font-family: 'Poppins', sans-serif;">
                    Yoğun iş temposu, aile yaşantınız veya çocuklarınızdan kendinize vakit ayıramıyor olabilirsiniz, öyleyse online diyet tam size göre.
                </p>

                <div class="d-flex flex-wrap justify-content-center justify-content-lg-start mt-5">
                    <div class="col-sm-4 mb-3 mr-3 ">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-success-alt " style="margin-left: 30px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: rgb(160, 211, 52);" class="bi bi-hand-thumbs-up-fill " viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                </svg>
                            </div>
                            <h6 class="mb-0 ml-3" style="margin-left: 10px;">Daha fazla iletişim</h6>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-3 mr-4 ">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-success-alt" style="margin-left: 30px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:rgb(160, 211, 52) ;" class="bi bi-hand-thumbs-up-fill " viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                </svg>
                            </div>
                            <h6 class="mb-0 ml-3" style="margin-left: 10px;">Daha Hızlı iletişim</h6>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-3 mr-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-success-alt" style="margin-left: 30px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: rgb(160, 211, 52);" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                </svg>
                            </div>
                            <h6 class="mb-0 ml-3" style="margin-left: 10px;">Daha Motive edici</h6>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mr-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-success-alt" style="margin-left: 30px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: rgb(160, 211, 52);" class="bi bi-hand-thumbs-up-fill " viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                </svg>
                            </div>
                            <h6 class="mb-0 ml-3" style="margin-left: 10px;">Ulaşım sorunu yok</h6>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mr-4 ">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-success-alt" style="margin-left: 30px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: rgb(160, 211, 52);" class="bi bi-hand-thumbs-up-fill " viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                </svg>
                            </div>
                            <h6 class="mb-0 ml-3" style="margin-left: 10px;">Zaman kaybı yok</h6>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-5 mr-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-success-alt" style="margin-left: 30px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: rgb(160, 211, 52);" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                </svg>
                            </div>
                            <h6 class="mb-0 ml-3" style="margin-left: 10px;">Daha etkili sonuçlar</h6>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <hr>
        <!-- değişim fotograflarının olduğu form kısmı -->
        <div class="container ">
            <div class="row align-items-center text-center justify-content-around">
                <div class="col-md-8 mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="118.014" height="37.625" viewBox="0 0 118.014 37.625">
                        <g id="Leaf_Object" data-name="Leaf Object" transform="translate(-925 -1715.002)">
                            <g id="Leaf_Object-2" data-name="Leaf Object" transform="translate(925 1715.002)">
                                <path id="Shape_1" data-name="Shape 1" d="M3.95,35.783a.861.861,0,0,1-.325-1.264l1.535-2.592a1.852,1.852,0,0,0-.409-2.389c-3.991-3.22-6.787-9.007-2.855-15.647C6.017,6.926,23.516.367,24.335.073a.855.855,0,0,1,1.207.679c.066.793,2.994,18.857-1.178,25.9-3.259,5.506-8.278,7.647-14.017,5.928a.988.988,0,0,1-.58-1.191,1.055,1.055,0,0,1,1.218-.61c3.408.947,8.272.879,11.82-5.115,3.259-5.506,1.612-19.392.99-23.415C19.914,3.738,6.762,9.29,3.5,14.8c-4.17,7.047.87,11.937,2.448,13.258a3.708,3.708,0,0,1,.817,4.78L5.233,35.426a.923.923,0,0,1-.795.493A1,1,0,0,1,3.95,35.783Zm4.315-7.29a.91.91,0,0,1-.325-1.262l1.247-2.106L5.481,15.8a.925.925,0,0,1,.51-1.224.9.9,0,0,1,1.222.471l3.219,7.969,2.589-4.373-3.056-6.8a1.019,1.019,0,0,1,.511-1.225A.985.985,0,0,1,11.7,11.1l2.474,5.6,2.158-3.645-1.6-3.818a1.02,1.02,0,0,1,.511-1.224.988.988,0,0,1,1.222.471l1.067,2.546,1.918-3.24a.9.9,0,0,1,1.282-.357A.859.859,0,0,1,21.051,8.7l-1.916,3.239,2.84-.451a.973.973,0,0,1,1.031.8,1.034,1.034,0,0,1-.833,1.044l-4.188.556-2.206,3.725,6.165-.631a.873.873,0,0,1,1.03.8.927.927,0,0,1-.833,1.044l-7.56.817-2.589,4.373,8.683-1.265a.972.972,0,0,1,1.03.8,1.034,1.034,0,0,1-.831,1.044L10.746,26.112l-1.2,2.024a.922.922,0,0,1-.795.494A.993.993,0,0,1,8.264,28.493Z" transform="translate(57.22 0)" fill="#91ad41" />
                                <path id="Shape_1_copy" data-name="Shape 1 copy" d="M14.354,25.018l-1.03-1.83a2.711,2.711,0,0,1,.548-3.376,7.183,7.183,0,0,0,1.644-9.362C13.327,6.56,4.493,2.64,1.886,1.591c-.417,2.84-1.524,12.646.665,16.535,2.383,4.233,5.652,4.281,7.94,3.611a.672.672,0,0,1,.428,1.273c-3.854,1.215-7.226-.3-9.416-4.187C-1.3,13.847.668,1.091.713.531a.574.574,0,0,1,.81-.48C2.072.26,13.828,4.892,16.6,9.81A8.419,8.419,0,0,1,14.679,20.86a1.353,1.353,0,0,0-.274,1.687l1.03,1.83a.624.624,0,0,1-.219.893.645.645,0,0,1-.328.1A.617.617,0,0,1,14.354,25.018Zm-2.9-5.147-.805-1.43-6.8-1.082a.72.72,0,0,1-.559-.736.658.658,0,0,1,.691-.562l5.834.893L8.075,13.864,3,13.287a.647.647,0,0,1-.559-.736.6.6,0,0,1,.693-.563l4.141.446L5.789,9.8,2.974,9.411a.725.725,0,0,1-.559-.737.661.661,0,0,1,.693-.562l1.909.319L3.728,6.143a.621.621,0,0,1,.219-.891.592.592,0,0,1,.862.251L6.1,7.792l.716-1.8a.651.651,0,0,1,.822-.332.733.733,0,0,1,.342.864L6.9,9.222,8.351,11.8l1.661-3.958a.65.65,0,0,1,.82-.334.734.734,0,0,1,.343.865l-2.052,4.8,1.738,3.088,2.163-5.628a.593.593,0,0,1,.82-.332.664.664,0,0,1,.343.864L11.7,17.743l.837,1.487a.663.663,0,0,1-.217.893.649.649,0,0,1-.329.1A.617.617,0,0,1,11.456,19.871Z" transform="translate(35.959 10.006)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978" data-name="Rounded Rectangle 978" d="M45.855,21h32.5a.855.855,0,1,1,0,1.71h-32.5a.855.855,0,1,1,0-1.71Z" transform="translate(31.966 14.915)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978_copy" data-name="Rounded Rectangle 978 copy" d="M66.855,21h3.421a.855.855,0,0,1,0,1.71H66.855a.855.855,0,1,1,0-1.71Z" transform="translate(46.883 14.915)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978_copy_2" data-name="Rounded Rectangle 978 copy 2" d="M4.855,21h32.5a.855.855,0,0,1,0,1.71H4.855a.855.855,0,1,1,0-1.71Z" transform="translate(2.841 14.915)" fill="#91ad41" />
                                <path id="Rounded_Rectangle_978_copy_2-2" data-name="Rounded Rectangle 978 copy 2" d="M.855,21H4.276a.855.855,0,1,1,0,1.71H.855a.855.855,0,0,1,0-1.71Z" transform="translate(0 14.915)" fill="#91ad41" />
                            </g>
                        </g>
                    </svg>

                    <p style=" font-family: 'Nunito', sans-serif;
              font-family: 'Poppins', sans-serif; " class="lead text-muted mt-3 mb-5">Başarı hikayeleri ilhamın ta kendisi! Çünkü bazen bir şeylerin değişmesi için ne kadar hazır hissetsek de ilk adımı atmak için bir kıvılcım arıyoruz. Gerçeği yansıtan başarı hikayeleri de hayatımızda harekete geçirici, olumlu etkiler yaratıyor.
                    <p class="lead">Sende Başarabilirsin!! Sadece kendine güven..</p>
                </div>
                <div class="col-md-11 ">
                    <div class="row align-items-center text-center justify-content-around mt-5">
                        <div class="col-md-5 mb-5">
                            <!--carousel kısmı-->
                            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="1" class="active" aria-current="true" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="2" class="active" aria-current="true" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="3" class="active" aria-current="true" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="4" class="active" aria-current="true" aria-label="Slide 5"></button>
                                </div>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/Web Proje\img\degisim3.jpeg" class="d-block w-100" alt="...">
                                    </div>

                                    <div class="carousel-item ">
                                        <img src="~/Web Proje\img\degisim1.jpg" class="d-block w-100" alt="...">
                                    </div>

                                    <div class="carousel-item ">
                                        <img src="~/Web Proje\img\degisim2.jpeg" class="d-block w-100" alt="...">
                                    </div>



                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div>

        </div>
    </div>
</section>



<!-- yorumlar kısmı -->
<section class="container">
    <div class="row align-items-center  text-center justify-content-around mt-5 mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="118.014" height="37.625" viewBox="0 0 118.014 37.625">
            <g id="Leaf_Object" data-name="Leaf Object" transform="translate(-925 -1715.002)">
                <g id="Leaf_Object-2" data-name="Leaf Object" transform="translate(925 1715.002)">
                    <path id="Shape_1" data-name="Shape 1" d="M3.95,35.783a.861.861,0,0,1-.325-1.264l1.535-2.592a1.852,1.852,0,0,0-.409-2.389c-3.991-3.22-6.787-9.007-2.855-15.647C6.017,6.926,23.516.367,24.335.073a.855.855,0,0,1,1.207.679c.066.793,2.994,18.857-1.178,25.9-3.259,5.506-8.278,7.647-14.017,5.928a.988.988,0,0,1-.58-1.191,1.055,1.055,0,0,1,1.218-.61c3.408.947,8.272.879,11.82-5.115,3.259-5.506,1.612-19.392.99-23.415C19.914,3.738,6.762,9.29,3.5,14.8c-4.17,7.047.87,11.937,2.448,13.258a3.708,3.708,0,0,1,.817,4.78L5.233,35.426a.923.923,0,0,1-.795.493A1,1,0,0,1,3.95,35.783Zm4.315-7.29a.91.91,0,0,1-.325-1.262l1.247-2.106L5.481,15.8a.925.925,0,0,1,.51-1.224.9.9,0,0,1,1.222.471l3.219,7.969,2.589-4.373-3.056-6.8a1.019,1.019,0,0,1,.511-1.225A.985.985,0,0,1,11.7,11.1l2.474,5.6,2.158-3.645-1.6-3.818a1.02,1.02,0,0,1,.511-1.224.988.988,0,0,1,1.222.471l1.067,2.546,1.918-3.24a.9.9,0,0,1,1.282-.357A.859.859,0,0,1,21.051,8.7l-1.916,3.239,2.84-.451a.973.973,0,0,1,1.031.8,1.034,1.034,0,0,1-.833,1.044l-4.188.556-2.206,3.725,6.165-.631a.873.873,0,0,1,1.03.8.927.927,0,0,1-.833,1.044l-7.56.817-2.589,4.373,8.683-1.265a.972.972,0,0,1,1.03.8,1.034,1.034,0,0,1-.831,1.044L10.746,26.112l-1.2,2.024a.922.922,0,0,1-.795.494A.993.993,0,0,1,8.264,28.493Z" transform="translate(57.22 0)" fill="#91ad41" />
                    <path id="Shape_1_copy" data-name="Shape 1 copy" d="M14.354,25.018l-1.03-1.83a2.711,2.711,0,0,1,.548-3.376,7.183,7.183,0,0,0,1.644-9.362C13.327,6.56,4.493,2.64,1.886,1.591c-.417,2.84-1.524,12.646.665,16.535,2.383,4.233,5.652,4.281,7.94,3.611a.672.672,0,0,1,.428,1.273c-3.854,1.215-7.226-.3-9.416-4.187C-1.3,13.847.668,1.091.713.531a.574.574,0,0,1,.81-.48C2.072.26,13.828,4.892,16.6,9.81A8.419,8.419,0,0,1,14.679,20.86a1.353,1.353,0,0,0-.274,1.687l1.03,1.83a.624.624,0,0,1-.219.893.645.645,0,0,1-.328.1A.617.617,0,0,1,14.354,25.018Zm-2.9-5.147-.805-1.43-6.8-1.082a.72.72,0,0,1-.559-.736.658.658,0,0,1,.691-.562l5.834.893L8.075,13.864,3,13.287a.647.647,0,0,1-.559-.736.6.6,0,0,1,.693-.563l4.141.446L5.789,9.8,2.974,9.411a.725.725,0,0,1-.559-.737.661.661,0,0,1,.693-.562l1.909.319L3.728,6.143a.621.621,0,0,1,.219-.891.592.592,0,0,1,.862.251L6.1,7.792l.716-1.8a.651.651,0,0,1,.822-.332.733.733,0,0,1,.342.864L6.9,9.222,8.351,11.8l1.661-3.958a.65.65,0,0,1,.82-.334.734.734,0,0,1,.343.865l-2.052,4.8,1.738,3.088,2.163-5.628a.593.593,0,0,1,.82-.332.664.664,0,0,1,.343.864L11.7,17.743l.837,1.487a.663.663,0,0,1-.217.893.649.649,0,0,1-.329.1A.617.617,0,0,1,11.456,19.871Z" transform="translate(35.959 10.006)" fill="#91ad41" />
                    <path id="Rounded_Rectangle_978" data-name="Rounded Rectangle 978" d="M45.855,21h32.5a.855.855,0,1,1,0,1.71h-32.5a.855.855,0,1,1,0-1.71Z" transform="translate(31.966 14.915)" fill="#91ad41" />
                    <path id="Rounded_Rectangle_978_copy" data-name="Rounded Rectangle 978 copy" d="M66.855,21h3.421a.855.855,0,0,1,0,1.71H66.855a.855.855,0,1,1,0-1.71Z" transform="translate(46.883 14.915)" fill="#91ad41" />
                    <path id="Rounded_Rectangle_978_copy_2" data-name="Rounded Rectangle 978 copy 2" d="M4.855,21h32.5a.855.855,0,0,1,0,1.71H4.855a.855.855,0,1,1,0-1.71Z" transform="translate(2.841 14.915)" fill="#91ad41" />
                    <path id="Rounded_Rectangle_978_copy_2-2" data-name="Rounded Rectangle 978 copy 2" d="M.855,21H4.276a.855.855,0,1,1,0,1.71H.855a.855.855,0,0,1,0-1.71Z" transform="translate(0 14.915)" fill="#91ad41" />
                </g>
            </g>
        </svg>
        <div class="col-md-10 text-center mt-3 mb-5">
            <h1 style="  color: #324755; ">Danışanlardan Cümleler</h1>
            <p class="lead text-muted mt-3 mb-5">Hedefine ulaşan binlerce danışanın arasında yer almak ister misin ?</p>

            </p>
        </div>
        <div class="col-md-3 yorum  ">
            <img src="~/Web Proje\img\monalisa.jpg" alt="monalisa">
            <p class="mt-2">“ Her konuda destek oldun.. İyi ki karşıma çıkmışsın ”</p>
        </div>
        <div class="col-md-3 yorum">
            <img src="~/Web Proje\img\picture.webp" alt="">
            <p class="mt-2"> “ Sen bir diyetisyenden fazlasısın. İyi ki bu yolda beraberdik ” </p>
        </div>
        <div class="col-md-3 yorum">
            <img src="~/Web Proje\img\picture1.webp" alt="">
            <p class="mt-2">
                “Rehberliğin olmasaydı daha zor olurdu herşey ”
            </p>
        </div>
        <div class="col-md-4 yorum mt-4">
            <img src="~/Web Proje\img\picture2.jpg" alt="">
            <p class="mt-2">“Beni her zaman motive ettin, hep yanımdaydın.”</p>
        </div>
        <div class="col-md-4 yorum mt-4">
            <img src="~/Web Proje\img\picture3.jpg" alt="">
            <p class="mt-2">“Sen benim süper kahramansın”</p>
        </div>
        <div class="col-md-4 yorum mt-4 mb-5">
            <img src="~/Web Proje\img\pictures.webp" alt="">
            <p class="mt-2">“Sizinle tanışmadan önce bu kadar kilo verebileceğim ve sağlıklı beslenebileceğim hiç aklıma gelmezdi. İyi ki tanışmışız. ”</p>
        </div>
        <div class="col-md-10 tumyorum">
            <a href="#">Tüm Yorumlar</a>
        </div>

</section>

<section class="bg-light">

    <div>
        <div class="text-center mt-5 mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="118.014" height="37.625" style="margin-top: 60px;" viewBox="0 0 118.014 37.625">
                <g id="Leaf_Object" data-name="Leaf Object" transform="translate(-925 -1715.002)">
                    <g id="Leaf_Object-2" data-name="Leaf Object" transform="translate(925 1715.002)">
                        <path id="Shape_1" data-name="Shape 1" d="M3.95,35.783a.861.861,0,0,1-.325-1.264l1.535-2.592a1.852,1.852,0,0,0-.409-2.389c-3.991-3.22-6.787-9.007-2.855-15.647C6.017,6.926,23.516.367,24.335.073a.855.855,0,0,1,1.207.679c.066.793,2.994,18.857-1.178,25.9-3.259,5.506-8.278,7.647-14.017,5.928a.988.988,0,0,1-.58-1.191,1.055,1.055,0,0,1,1.218-.61c3.408.947,8.272.879,11.82-5.115,3.259-5.506,1.612-19.392.99-23.415C19.914,3.738,6.762,9.29,3.5,14.8c-4.17,7.047.87,11.937,2.448,13.258a3.708,3.708,0,0,1,.817,4.78L5.233,35.426a.923.923,0,0,1-.795.493A1,1,0,0,1,3.95,35.783Zm4.315-7.29a.91.91,0,0,1-.325-1.262l1.247-2.106L5.481,15.8a.925.925,0,0,1,.51-1.224.9.9,0,0,1,1.222.471l3.219,7.969,2.589-4.373-3.056-6.8a1.019,1.019,0,0,1,.511-1.225A.985.985,0,0,1,11.7,11.1l2.474,5.6,2.158-3.645-1.6-3.818a1.02,1.02,0,0,1,.511-1.224.988.988,0,0,1,1.222.471l1.067,2.546,1.918-3.24a.9.9,0,0,1,1.282-.357A.859.859,0,0,1,21.051,8.7l-1.916,3.239,2.84-.451a.973.973,0,0,1,1.031.8,1.034,1.034,0,0,1-.833,1.044l-4.188.556-2.206,3.725,6.165-.631a.873.873,0,0,1,1.03.8.927.927,0,0,1-.833,1.044l-7.56.817-2.589,4.373,8.683-1.265a.972.972,0,0,1,1.03.8,1.034,1.034,0,0,1-.831,1.044L10.746,26.112l-1.2,2.024a.922.922,0,0,1-.795.494A.993.993,0,0,1,8.264,28.493Z" transform="translate(57.22 0)" fill="#91ad41" />
                        <path id="Shape_1_copy" data-name="Shape 1 copy" d="M14.354,25.018l-1.03-1.83a2.711,2.711,0,0,1,.548-3.376,7.183,7.183,0,0,0,1.644-9.362C13.327,6.56,4.493,2.64,1.886,1.591c-.417,2.84-1.524,12.646.665,16.535,2.383,4.233,5.652,4.281,7.94,3.611a.672.672,0,0,1,.428,1.273c-3.854,1.215-7.226-.3-9.416-4.187C-1.3,13.847.668,1.091.713.531a.574.574,0,0,1,.81-.48C2.072.26,13.828,4.892,16.6,9.81A8.419,8.419,0,0,1,14.679,20.86a1.353,1.353,0,0,0-.274,1.687l1.03,1.83a.624.624,0,0,1-.219.893.645.645,0,0,1-.328.1A.617.617,0,0,1,14.354,25.018Zm-2.9-5.147-.805-1.43-6.8-1.082a.72.72,0,0,1-.559-.736.658.658,0,0,1,.691-.562l5.834.893L8.075,13.864,3,13.287a.647.647,0,0,1-.559-.736.6.6,0,0,1,.693-.563l4.141.446L5.789,9.8,2.974,9.411a.725.725,0,0,1-.559-.737.661.661,0,0,1,.693-.562l1.909.319L3.728,6.143a.621.621,0,0,1,.219-.891.592.592,0,0,1,.862.251L6.1,7.792l.716-1.8a.651.651,0,0,1,.822-.332.733.733,0,0,1,.342.864L6.9,9.222,8.351,11.8l1.661-3.958a.65.65,0,0,1,.82-.334.734.734,0,0,1,.343.865l-2.052,4.8,1.738,3.088,2.163-5.628a.593.593,0,0,1,.82-.332.664.664,0,0,1,.343.864L11.7,17.743l.837,1.487a.663.663,0,0,1-.217.893.649.649,0,0,1-.329.1A.617.617,0,0,1,11.456,19.871Z" transform="translate(35.959 10.006)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978" data-name="Rounded Rectangle 978" d="M45.855,21h32.5a.855.855,0,1,1,0,1.71h-32.5a.855.855,0,1,1,0-1.71Z" transform="translate(31.966 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy" data-name="Rounded Rectangle 978 copy" d="M66.855,21h3.421a.855.855,0,0,1,0,1.71H66.855a.855.855,0,1,1,0-1.71Z" transform="translate(46.883 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy_2" data-name="Rounded Rectangle 978 copy 2" d="M4.855,21h32.5a.855.855,0,0,1,0,1.71H4.855a.855.855,0,1,1,0-1.71Z" transform="translate(2.841 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy_2-2" data-name="Rounded Rectangle 978 copy 2" d="M.855,21H4.276a.855.855,0,1,1,0,1.71H.855a.855.855,0,0,1,0-1.71Z" transform="translate(0 14.915)" fill="#91ad41" />
                    </g>
                </g>
            </svg>

            <h1 style="font-family: 'Nunito', sans-serif;
          font-family: 'Poppins', sans-serif; padding-top: 20px; color: #324755;">
                Tanışmaya Hazır mısın ?
            </h1>
            <p class="lead text-muted fs-4 mt-4">Hazırsan aşağıdaki formu doldurarak iletişime geçebilirsin. </p>
        </div>
    </div>


    <!-- online diyete basla formu -->




    <div class="row align-items-center  text-center justify-content-around mt-5 " style="font-family: 'Nunito', sans-serif;
      font-family: 'Poppins', sans-serif;">
        <div class="col-md-12 contact-form onlinediyet">
            <div class="diyet">
                <h1 class="title ">online diyete başla</h1>
                <p class="text-start mt-5">
                    Diyete başlamadan önce sizi daha yakından tanıyabilmek için aşağıdaki formu doldurarak başlayabilir,
                    sizinle ilgili olan tüm sorulara cevap vebilirsiniz.
                </p>
                <div class="container">
                    <div class="contact-form row">
                        <div class="form-field col-lg-6">
                            <input id="isim" class="input-text" type="text" name="">
                            <label for="isim" class="label">İsim</label>
                        </div>

                        <div class="form-field col-lg-6">
                            <input id="soyisim" class="input-text" type="text" name="">
                            <label for="soyisim" class="label">soyisim</label>
                        </div>

                        <div class="form-field col-lg-6">
                            <input id="email" class="input-text" type="email" name="">
                            <label for="email" class="label">email</label>
                        </div>



                        <div class="form-field col-lg-6">
                            <input id="telefon" class="input-text" type="text" name="">
                            <label for="telefon" class="label">telefon</label>
                        </div>

                        <div class="form-field col-lg-12">
                            <input id="message" class="input-text" type="text" name="">
                            <label for="message" class="label">İletmek İstediğiniz Mesajınız</label>
                        </div>

                        <div class="form-field col-lg-12">
                            <input class="submit-btn" type="submit" value="Formu Gönder" name="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-smile-upside-down-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zM4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM10 8c-.552 0-1 .672-1 1.5s.448 1.5 1 1.5 1-.672 1-1.5S10.552 8 10 8z" />
                            </svg>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

