
@{
    ViewData["Title"] = "KisaVeOz";
    Layout = "~/Views/Shared/Layoutproject.cshtml";
}


<section class="bg-light ">
    <div class="container  ">
        <div class="row align-items-center text-center justify-content-around ">
            <svg class="mt-5" xmlns="http://www.w3.org/2000/svg" width="118.014" height="37.625" viewBox="0 0 118.014 37.625">
                <g id="Leaf_Object" data-name="Leaf Object" transform="translate(-925 -1715.002)">
                    <g id="Leaf_Object-2" data-name="Leaf Object" transform="translate(925 1715.002)">
                        <path id="Shape_1" data-name="Shape 1" d="M3.95,35.783a.861.861,0,0,1-.325-1.264l1.535-2.592a1.852,1.852,0,0,0-.409-2.389c-3.991-3.22-6.787-9.007-2.855-15.647C6.017,6.926,23.516.367,24.335.073a.855.855,0,0,1,1.207.679c.066.793,2.994,18.857-1.178,25.9-3.259,5.506-8.278,7.647-14.017,5.928a.988.988,0,0,1-.58-1.191,1.055,1.055,0,0,1,1.218-.61c3.408.947,8.272.879,11.82-5.115,3.259-5.506,1.612-19.392.99-23.415C19.914,3.738,6.762,9.29,3.5,14.8c-4.17,7.047.87,11.937,2.448,13.258a3.708,3.708,0,0,1,.817,4.78L5.233,35.426a.923.923,0,0,1-.795.493A1,1,0,0,1,3.95,35.783Zm4.315-7.29a.91.91,0,0,1-.325-1.262l1.247-2.106L5.481,15.8a.925.925,0,0,1,.51-1.224.9.9,0,0,1,1.222.471l3.219,7.969,2.589-4.373-3.056-6.8a1.019,1.019,0,0,1,.511-1.225A.985.985,0,0,1,11.7,11.1l2.474,5.6,2.158-3.645-1.6-3.818a1.02,1.02,0,0,1,.511-1.224.988.988,0,0,1,1.222.471l1.067,2.546,1.918-3.24a.9.9,0,0,1,1.282-.357A.859.859,0,0,1,21.051,8.7l-1.916,3.239,2.84-.451a.973.973,0,0,1,1.031.8,1.034,1.034,0,0,1-.833,1.044l-4.188.556-2.206,3.725,6.165-.631a.873.873,0,0,1,1.03.8.927.927,0,0,1-.833,1.044l-7.56.817-2.589,4.373,8.683-1.265a.972.972,0,0,1,1.03.8,1.034,1.034,0,0,1-.831,1.044L10.746,26.112l-1.2,2.024a.922.922,0,0,1-.795.494A.993.993,0,0,1,8.264,28.493Z" transform="translate(57.22 0)" fill="#91ad41" />
                        <path id="Shape_1_copy" data-name="Shape 1 copy" d="M14.354,25.018l-1.03-1.83a2.711,2.711,0,0,1,.548-3.376,7.183,7.183,0,0,0,1.644-9.362C13.327,6.56,4.493,2.64,1.886,1.591c-.417,2.84-1.524,12.646.665,16.535,2.383,4.233,5.652,4.281,7.94,3.611a.672.672,0,0,1,.428,1.273c-3.854,1.215-7.226-.3-9.416-4.187C-1.3,13.847.668,1.091.713.531a.574.574,0,0,1,.81-.48C2.072.26,13.828,4.892,16.6,9.81A8.419,8.419,0,0,1,14.679,20.86a1.353,1.353,0,0,0-.274,1.687l1.03,1.83a.624.624,0,0,1-.219.893.645.645,0,0,1-.328.1A.617.617,0,0,1,14.354,25.018Zm-2.9-5.147-.805-1.43-6.8-1.082a.72.72,0,0,1-.559-.736.658.658,0,0,1,.691-.562l5.834.893L8.075,13.864,3,13.287a.647.647,0,0,1-.559-.736.6.6,0,0,1,.693-.563l4.141.446L5.789,9.8,2.974,9.411a.725.725,0,0,1-.559-.737.661.661,0,0,1,.693-.562l1.909.319L3.728,6.143a.621.621,0,0,1,.219-.891.592.592,0,0,1,.862.251L6.1,7.792l.716-1.8a.651.651,0,0,1,.822-.332.733.733,0,0,1,.342.864L6.9,9.222,8.351,11.8l1.661-3.958a.65.65,0,0,1,.82-.334.734.734,0,0,1,.343.865l-2.052,4.8,1.738,3.088,2.163-5.628a.593.593,0,0,1,.82-.332.664.664,0,0,1,.343.864L11.7,17.743l.837,1.487a.663.663,0,0,1-.217.893.649.649,0,0,1-.329.1A.617.617,0,0,1,11.456,19.871Z" transform="translate(35.959 10.006)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978" data-name="Rounded Rectangle 978" d="M45.855,21h32.5a.855.855,0,1,1,0,1.71h-32.5a.855.855,0,1,1,0-1.71Z" transform="translate(31.966 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy" data-name="Rounded Rectangle 978 copy" d="M66.855,21h3.421a.855.855,0,0,1,0,1.71H66.855a.855.855,0,1,1,0-1.71Z" transform="translate(46.883 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy_2" data-name="Rounded Rectangle 978 copy 2" d="M4.855,21h32.5a.855.855,0,0,1,0,1.71H4.855a.855.855,0,1,1,0-1.71Z" transform="translate(2.841 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy_2-2" data-name="Rounded Rectangle 978 copy 2" d="M.855,21H4.276a.855.855,0,1,1,0,1.71H.855a.855.855,0,0,1,0-1.71Z" transform="translate(0 14.915)" fill="#91ad41" />
                    </g>
                </g>
            </svg>

            <div class="col-md-7" style="font-family: 'Nunito', sans-serif; font-family: 'Poppins', sans-serif; color: #324755;">
                <h1 class="display-5 mb-3 mt-3"> Kısa Ve Öz</h1>
                <p class="lead mb-5">
                    Anasayfa > Kısa Ve Öz
                </p>
            </div>
</section>



<section class="container mb-5 mt-5">
    <div class="row align-items-center text-center justify-content-around">
        <div class="col-md-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="138.014" height="43.625" viewBox="0 0 118.014 37.625">
                <g id="Leaf_Object" data-name="Leaf Object" transform="translate(-925 -1715.002)">
                    <g id="Leaf_Object-2" data-name="Leaf Object" transform="translate(925 1715.002)">
                        <path id="Shape_1" data-name="Shape 1" d="M3.95,35.783a.861.861,0,0,1-.325-1.264l1.535-2.592a1.852,1.852,0,0,0-.409-2.389c-3.991-3.22-6.787-9.007-2.855-15.647C6.017,6.926,23.516.367,24.335.073a.855.855,0,0,1,1.207.679c.066.793,2.994,18.857-1.178,25.9-3.259,5.506-8.278,7.647-14.017,5.928a.988.988,0,0,1-.58-1.191,1.055,1.055,0,0,1,1.218-.61c3.408.947,8.272.879,11.82-5.115,3.259-5.506,1.612-19.392.99-23.415C19.914,3.738,6.762,9.29,3.5,14.8c-4.17,7.047.87,11.937,2.448,13.258a3.708,3.708,0,0,1,.817,4.78L5.233,35.426a.923.923,0,0,1-.795.493A1,1,0,0,1,3.95,35.783Zm4.315-7.29a.91.91,0,0,1-.325-1.262l1.247-2.106L5.481,15.8a.925.925,0,0,1,.51-1.224.9.9,0,0,1,1.222.471l3.219,7.969,2.589-4.373-3.056-6.8a1.019,1.019,0,0,1,.511-1.225A.985.985,0,0,1,11.7,11.1l2.474,5.6,2.158-3.645-1.6-3.818a1.02,1.02,0,0,1,.511-1.224.988.988,0,0,1,1.222.471l1.067,2.546,1.918-3.24a.9.9,0,0,1,1.282-.357A.859.859,0,0,1,21.051,8.7l-1.916,3.239,2.84-.451a.973.973,0,0,1,1.031.8,1.034,1.034,0,0,1-.833,1.044l-4.188.556-2.206,3.725,6.165-.631a.873.873,0,0,1,1.03.8.927.927,0,0,1-.833,1.044l-7.56.817-2.589,4.373,8.683-1.265a.972.972,0,0,1,1.03.8,1.034,1.034,0,0,1-.831,1.044L10.746,26.112l-1.2,2.024a.922.922,0,0,1-.795.494A.993.993,0,0,1,8.264,28.493Z" transform="translate(57.22 0)" fill="#91ad41" />
                        <path id="Shape_1_copy" data-name="Shape 1 copy" d="M14.354,25.018l-1.03-1.83a2.711,2.711,0,0,1,.548-3.376,7.183,7.183,0,0,0,1.644-9.362C13.327,6.56,4.493,2.64,1.886,1.591c-.417,2.84-1.524,12.646.665,16.535,2.383,4.233,5.652,4.281,7.94,3.611a.672.672,0,0,1,.428,1.273c-3.854,1.215-7.226-.3-9.416-4.187C-1.3,13.847.668,1.091.713.531a.574.574,0,0,1,.81-.48C2.072.26,13.828,4.892,16.6,9.81A8.419,8.419,0,0,1,14.679,20.86a1.353,1.353,0,0,0-.274,1.687l1.03,1.83a.624.624,0,0,1-.219.893.645.645,0,0,1-.328.1A.617.617,0,0,1,14.354,25.018Zm-2.9-5.147-.805-1.43-6.8-1.082a.72.72,0,0,1-.559-.736.658.658,0,0,1,.691-.562l5.834.893L8.075,13.864,3,13.287a.647.647,0,0,1-.559-.736.6.6,0,0,1,.693-.563l4.141.446L5.789,9.8,2.974,9.411a.725.725,0,0,1-.559-.737.661.661,0,0,1,.693-.562l1.909.319L3.728,6.143a.621.621,0,0,1,.219-.891.592.592,0,0,1,.862.251L6.1,7.792l.716-1.8a.651.651,0,0,1,.822-.332.733.733,0,0,1,.342.864L6.9,9.222,8.351,11.8l1.661-3.958a.65.65,0,0,1,.82-.334.734.734,0,0,1,.343.865l-2.052,4.8,1.738,3.088,2.163-5.628a.593.593,0,0,1,.82-.332.664.664,0,0,1,.343.864L11.7,17.743l.837,1.487a.663.663,0,0,1-.217.893.649.649,0,0,1-.329.1A.617.617,0,0,1,11.456,19.871Z" transform="translate(35.959 10.006)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978" data-name="Rounded Rectangle 978" d="M45.855,21h32.5a.855.855,0,1,1,0,1.71h-32.5a.855.855,0,1,1,0-1.71Z" transform="translate(31.966 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy" data-name="Rounded Rectangle 978 copy" d="M66.855,21h3.421a.855.855,0,0,1,0,1.71H66.855a.855.855,0,1,1,0-1.71Z" transform="translate(46.883 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy_2" data-name="Rounded Rectangle 978 copy 2" d="M4.855,21h32.5a.855.855,0,0,1,0,1.71H4.855a.855.855,0,1,1,0-1.71Z" transform="translate(2.841 14.915)" fill="#91ad41" />
                        <path id="Rounded_Rectangle_978_copy_2-2" data-name="Rounded Rectangle 978 copy 2" d="M.855,21H4.276a.855.855,0,1,1,0,1.71H.855a.855.855,0,0,1,0-1.71Z" transform="translate(0 14.915)" fill="#91ad41" />
                    </g>
                </g>
            </svg>
            <div style="font-family: 'Nunito', sans-serif; font-family: 'Poppins', sans-serif; color: #324755;" class="mt-4 mb-5">
                <h1>En Çok Merak Edilen Kısa Bilgiler </h1>
                <p>Meslek hayatımda en çok karşılaştığım soruları sizler için kısaca derledim. </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3 mt-5">
                <img src="~/Web Proje\img\kisaVeOz\1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Su İçmek Zayıflatır mı ?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="font-size: 12px">
                                Yemeklerden önce içilen bir bardak su daha az kalori almanızı sağlar.
                                Mideyi doldurur ve tokluk hissi vererek iştahınızı keser.
                                Öğünler arasında tüketilen 3-4 bardak su vücudumuzu susuz bırakmadığı gibi açlık hissimizi de bastırmış olur. Dolayısıyla, zayıflama diyetlerinde su içmek çok önemli bir faktördür.
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-md-3 mt-5">
                <img src="~/Web Proje\img\kisaVeOz\15.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFifteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                                Düşük Tansiyon | Beslenme Önerileri
                            </button>
                        </h2>
                        <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="font-size: 12px">
                                Düşük tansiyone sebebiyet veren faktörler :
                                📌 Uzun süreli hareketsizlik
                                📌 Sağlıksız ve dengesiz beslenme
                                📌 Çok miktarda karbonhidrat tüketmek
                                📌 Vücudun susuz kalması

                                Düşük tansiyonda beslenme önerileri nelerdir ?

                                📌 Sık sık ve karbonhidrat oranı az yiyecekler tüketilmeli
                                📌 Bol sıvı alınmalı
                                📌 Potasyum ve sodyum içeren sıvılar alınmalı
                                📌 Sebze ve meyve tüketilmeli
                                —————————
                                Badem sütü -
                                5-6 adet bademi akşamdan suya bırakın.
                                Sabah bademlerin kabuğunu soyup ezin ve bir su bardağı süte bademleri ilave edin ve her sabah bunu içtiğinizde etkisini göreceksiniz. :)
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 mt-5">
                <img src="~/Web Proje\img\kisaVeOz\3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Kolesterolü Düşüren Besinler
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="font-size: 12px">
                                Lipit yani yağ çeşiti olan kolesterol, her insanda bulunması gereken tatsız ve kokusuz bir maddedir. Dışarıdan alınabileceği gibi vücutta karaciğer tarafından da sentezlenebilir
                                Et, süt, tereyağı gibi hayvansal gıdalar ve yağ çeşitleri kolesterol içermektedir
                                Sebze, meyve gibi bitkisel kaynaklarda ise bulunmamaktadır. 📌
                                Kolesterol diyeti veya kolesterol düşürücü diyet listesi programında aşağıdaki bu besinlere ağırlık verilir.
                                Ispanak, brüksel lahanası, brokoli, patlıcan, bamya, kabak, fasulye, tatlı patates, karnabahar gibi taze sebzeler
                                Yulaf ezmesi veya yulaf kepeği Arpa Tam buğday, kepek, çavdar gibi esmer ekmek çeşitleri Çiğ fındık veya ceviz Soya içeren süt veya peynir ürünleri Nohut, kuru fasulye, kırmızı veya yeşil mercimek gibi bakliyat çeşitleri
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 mt-5">
                <img src="~/Web Proje\img\kisaVeOz\4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Diyette Kilo Verme Neden Durur
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="font-size: 12px">
                                Diyete başladıktan bir süre sonra kilo verme hızınız gittikçe azalır ve durabilir.
                                Beslenmenize ve spor programınıza düzenli olarak devam etseniz bile ağırlık kaybınız durma noktasına gelebilir.
                                Önemli olan bu sorunlar karşısında moralinizi ve motivasyonunuzu bozmadan diyete ve egzersize devam edebilmektir.
                                Böyle bir durumda panikleyip kendinizi aç bırakmak çözüm olmayacaktır aksine aç kaldıkça metabolizma hızınız yavaşlayacağı için kilo alma
                                durumu bile görülebilir.
                                🔗Bu dönem herkesin yaşadığı, vücudun kendini koruma altına aldığı normal bir dönemdir.
                                🔗Bu süreçte sabırlı ve kararlı olmalısınız.
                                🔗Karın bölgenizde toplanan dirençli yağları eritmekse, yeşil çayı diyetinize eklemeyi unutmayın.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row  mt-5">
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\22.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Sağlıklı Atıştırmalıklar
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Zayıflama diyetlerinde sıkça kullandığım kuru meyveler ve faydalarından bahsedeceğim bugün sizlere ☺️
                            Kuru üzüm 🍇: Tam bir kalp dostudur . Vücuttaki kan basıncını azaltarak kalp sağlığına katkıda bulunur. Demir açısından oldukça zengin kuru üzüm anemi hastalığına karşıda bir mücadele yöntemidir.
                            Kuru dut :
                            Doğal bir antibiyotiktir; Demir,Kalsiyum,B1,B2 ve C vitaminleri açısından oldukça zengindir.
                            İçerdiği bu vitamin ve mineraller sayesinde bağışıklık güçlendirir. Ateş düşürücü etkisi de vardır. Kanser oluşumunu engellemede etkilidir. Kan pıhtılaşmasını engeller.
                            Kuru erik :
                            Zayıfla diyetlerinde sıkça kullandığım kuru eriği tüketmenin kilo vermeye yardımcı olduğu yeni bir araştırma ile gösterildi.
                            Kurutulmuş meyveler her ne kadar içerisindeki yoğun lif sebebiyle tokluk süresinin uzamasını sağlasa da bugüne kadar zayıflama programlarında fazlaca yer verilmezdi .
                            Kuru erik kabızlığı azaltmaya yardımcıdır.
                            İçerisindeki yüksek potasyum, kalp ve sinir sağlığı için önemlidir .
                            Yüksek bir antioksidan kaynağıdır .

                            Sağlıkla Kalın ☺️👋🏻
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\23.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNew1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNew1" aria-expanded="false" aria-controls="flush-collapseNew1">
                            Ramazanda Beslenme
                        </button>
                    </h2>
                    <div id="flush-collapseNew1" class="accordion-collapse collapse" aria-labelledby="flush-headingNew1" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">

                            Sağlıklı oruç için neler yapmalıyız ❓
                            🌟SAHUR
                            🔸Mutlaka sahur yapın
                            🔹Bol proteinli ve gün içinde uzun süre tok tutacak olan posalı karbonhidratları terich edin.
                            (yoğurt.yumurta,peynir,süt,tahıllı ekmekler)
                            🔸Fazla tuz oranı ile çok susatacağı için işlem görmüş şarküteri ürünlerinden uzak durun.
                            🔹Sahuru son zaman dilimine bırakın oldukça.
                            🌟İFTAR 🍽
                            🔸Orucunuzu ılık su ile açabilirsiniz fakat fazla su tüketmeyin besine odaklanın.
                            🔸Zayıf noktamız olan Ramazan pidesinden ise çeyrekten fazla tüketmeyelim.
                            🔹Çorba ile açalım orucumuzu, çorba mideyi yormayan bi sıvı olduğu için katı besinlere geçişlerde bize olanak sağlayacaktır.
                            🔸Yemek arkasından hemen tatlıya tabiki hayır diyorum ki her gün olmamakla birlikte yemekten 1.5 saat sonra haftada 2 kez sütlü tatlıya tabiki varım.
                            🌟SU 💧
                            🔹İftarda 3-4 bardak su içmeyin en fazla 2 bardak olsun, fazlası hazımsızlık ve şişkinliğe sebebiyet verecektir.
                            🔸İftardan sahura kadar 2,5-3 litre kadar su içmeye özen gösterelim.
                            🌟ÇAY ☕️
                            🔸Çay tüketimini yemekten hemen sonra değil en az 1 saat sonra tüketelim.
                            🔹Yemekten hemen sonra içilen çay demir eksikliğine neden olabilmektedir
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\24.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNew2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNew2" aria-expanded="false" aria-controls="flush-collapseNew2">
                            Kabızlık İçin Kür
                        </button>
                    </h2>
                    <div id="flush-collapseNew2" class="accordion-collapse collapse" aria-labelledby="flush-headingNew2" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Öncelikle kabızlığı bir kürle halletmektense nedenini bulup müdahale etmek daha yararlı olacaktır.

                            İşte kabızlığın nedenleri:
                            ⚜️Yeterli su içmemek.
                            ⚜️Yeterince lifli gıdalar tüketmemek.
                            ⚜️Probiyotik ve Prebiyotik gıdalar tüketmemek.
                            ⚜️Az hareket etmek.

                            Kabızlık nedenleri arasındadır.
                            _______________________________

                            Bunları yaptım geçmiyor diyorsanız, verdiğim kürü deneyebilirsiniz.
                            Hamilelerin kullanımına uygun değildir. ❌

                            Zeytinyağı hariç tüm malzemeleri 2 bardak 🥃 suda haşlıyoruz.

                            Haşladığımız malzemelerin üzerine zeytinyağı ve keten tohumu döküp blendırdan geçiriyoruz.

                            Aç karnına 1 bardak su veya sade soda ile 5 gün boyunca tüketiyoruz.

                            Sağlıkla Kalın 🥰
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 ">
            <img src="~/Web Proje\img\kisaVeOz\25.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNew3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNew3" aria-expanded="false" aria-controls="flush-collapseNew3">
                            3 Adımda Değişim
                        </button>
                    </h2>
                    <div id="flush-collapseNew3" class="accordion-collapse collapse" aria-labelledby="flush-headingNew3" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Daha iyi hissetmenin 3 basit yolu😉 Frontiers Psychology'de yayınlanan yeni bir araştırmaya göre iyi bir ruh sağlığı için
                            💤Uyku kalitesi 👟Egzersiz veya hareketli yaşan 🥒Daha fazla çiğ meyve ve sebze etkili Peki ne yapabiliriz?
                            1️⃣Uykunuzu düzene sokmak ilk adımınız olsun. 1000’den fazla genç yetişkinin incelendiği çalışmada uyku kalitesi kötü olan bireylerin normal bireylere göre daha fazla çok yağ ve enerji alımına sahip olduğu sonucu var.
                            2️⃣Dünyada her 4 yetişkinden 1’i önerilen aktivite düzeyini karşılayamadığını söylüyor hedefiniz haftada 150 dakika olsun.
                            3️⃣Günde 4-5 porsiyon çiğ sebze meyve tüketen bireylerde zihinsel sağlık daha iyi, sofralarınızdan eksik etmeyin.

                            Sağlıkla kalın 🤚🏼
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>





    <div class="row  mt-5">
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Ödem Nedir ? Nasıl Atılır ?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            ÖDEM vücutta sıvı birikimine bağlı olarak ortaya çıkan şişliklere denir. Şişlikler genellikle toplardamar sistemi ile ilgilidir. Doğru beslenme ve fiziksel aktivite ile düzelmeyen ödemler ciddi hastalıkların belirtisi olarak
                            karşımıza çıkabilir.
                            📌 ÖDEM OLDUĞU NASIL ANLAŞILIR ?
                            🔗 Sabah uyandığınızda ya da gün sonunda ellerinizde, ayaklarınızda şişlik ve gerginlik hissediyorsanız.
                            🔗 Tempolu fiziksel aktivite yaptığınızda yeterli miktarda terlemiyorsanız.
                            🔗 Deriniz gergin ise ve parmağınızı derinize bastırdığınız zaman 2-3 saniye sonra hala iz kalıyorsa.
                            🔗 Çorabınızın lastiği 1 saat sonra bacağınızda belirgin iz bırakıyor ve bir süre geçmiyorsa vücudunuzda muhakkak ödem var demektir.
                            📌 ÖDEMDEN KURTULMANIN YOLLARI NELERDİR ?
                            🔗 Günlük mutlaka 10-12 bardak (2-2,5 lt) su için.
                            🔗 her gün tempolu bir şekilde en az 45 dk yürüyüş yapın ve zamanla yürüyüş saatinizi arttırın.
                            🔗 Yemeklerinize gereğinden fazla tuz atmayın.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\6.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Sadece 2dk Yürüyerek 400kcal Yakmak Mümkün mü?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            📌 Nedir Bu Düşük Yoğunluklu Egzersiz ?
                            Masanızdan veya evdeki koltuğunuzdan kalkıp her saat başı 2 dakika yürümek, bahçe işleriyle uğraşmak, temizlik yapmak gibi aktiviteler aslında küçük ve etkisiz gibi görünüyor.
                            Ama gün içinde ortalama 16 saat uyanık kaldığınızı ve her saat başı 2 dakika bunlara zaman ayırdığınızı düşünürseniz haftada ortalama 400 kcal daha fazla yakabilirsiniz.
                            Hareketsiz yaşamın sağlığımıza ne gibi etkileri olduğunu hepimiz az çok biliyoruz.
                            Erken ölüm, diyabet, obezite, kalp hastalıkları…
                            Bunların hepsinin bir sebebi de hareketsizlik, birçoğumuz masa başı işlerde çalışıyoruz, yoğun geçen günlerden sonra egzersize vakit ayıramıyoruz, aslında hiçbir bahane hareketsiz yaşamı haklı çıkarmaz.
                            Saat Başı 2 Dk Yeterli Olucaktır ☺️
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\7.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            Sağlıklı Yağlar Ne Zaman Tüketilmeli?
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Yağlar vücudumuz için gerekli olan enerjinin en önemli kaynaklarındandır.
                            Vücudumuza yağları alırken kaliteli ve sağlıklı kaynaklardan almaya özen göstermeliyiz
                            📌Sağlıklı Yağlar
                            Zeytin yağı, Ceviz, Fındık, Badem, Fıstık ezmesi, Hindistan Cevizi, Avakado, Keten Tohumu Yağı
                            📌 Yağ Tüketiminin En Doğru 2 Saati Vardır
                            Sabah : Diyet dönemlerinde gün içerisindeki kan şekerini ve açlık tokluk süresini dengeler .
                            Akşam : Gece boyu sindirimin yavaşlamasını bir miktar azaltır.
                            Dolaşım sisteminde vücudu sürekli besleyerek yenilenmeyi olumlu etkiler.Gece acıkmayı engeller .
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 ">
            <img src="~/Web Proje\img\kisaVeOz\8.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                            Propolis Nedir? Faydaları Nedir ?
                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Bal arıları yemek için nektar ve polen toplar.
                            Ayrıca güçlü bir antibakteriyel yapmak için ağaç veya bitki reçinesi toplayıp daha sonra arı enzimleri ve bazen balmumu ile karıştırarak propolis üretir.
                            Propolisin reçinemsi kokusu,kimine göre hoş gelen, kiminin de çok keskin bulduğu bir kokudur.
                            📌Propolis, faydaları bakımından oldukça zengin bir üründür.
                            Etanol ekstraktı, aynı zamanda iltihap önleyici, antibakteriyel, antiviral,antifungal, antioksidan ve lokal anestezik gibi özelliklere sahiptir.
                            📌 Meme, cilt, gırtlak, karaciğer, kolon, mesane, ve yumurtalık kanseri tedavisinde rol oynadığı öne sürülür.
                            Solunum sistemi üzerindeki etkisi de oldukça fazladır; Propolis grip,zatürre,bronşit,farenjit gibi solunum sistemi hastalıkları üzerinde iyileştirici etkisi vardır.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\9.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                            Glisemik İndeks Nedir ?
                        </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            📌Gıdaların kan şekerini yükseltme hızına glisemik indeks denir . 🔗 Eşit miktarda karbonhidrat içerseler de yiyeceklerin kan şekerini atttırıcı etkileri birbirinden farklıdır .
                            Bunun nedeni yiyeceklerdeki karbonhidratın sindirim sisteminden farklı hızda geçmesi ve emilmesidir.
                            📌 Kan şekerini hızlı yükselten karbonhidratlara yüksek glisemik indeksli besinler , kan şekerini yavaş yükselten karbonhidratlara düşük glisemik indeksli besinler denir .
                            📌Yüksek glisemik indeksli karbonhidratlar kan şekerini çok arttırdığı gibi insülin hormonunu da çok yükseltir .
                            Karbonhidratlarla yenen protein ve yağ da o karbonhidratın kan şekerini yükseltmesine yardımcı olabilir .
                            📌 Genel olarak glisemik indeksi düşük olan karbonhidratlı besinler : mercimek , kuru fasülye , nohut gibi kuru baklagillerdir.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\10.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                            Bağırsak Hızlandıran Detox
                        </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            📌Sizlere çok güzel ve özel bir detox tarifi ile geldim .
                            📌 Hazımsızlık ve sindirim sorunu yaşıyorum diyen danışanlarım tam size göre bir detox denemenizi öneriyorum .
                            Detoxumuzu Sabah Aç Karnına İçiyoruz Sindirim, Boşaltım ve Metabolizma Hızlandırıyor.
                            Üzerine de Bir Büyük Bardak Su İçmenizi Öneriyorum.
                            📌 Chia: Kalsiyum ve lif oranı yüksek. Protein ve omega-3 oranı da oldukça yüksek.
                            📌 Limon : B ve C vitaminlerinin yanı sıra potasyum , fosfor, sodyum , magnezyum , demir ve kalsiyum içerir.
                            TARİF GELSİN :
                            1.5 SU BARDAĞI SU ,2 TATLI KALIĞI CHİA, 1 ÇAY KAŞIĞI BAL , YARIM LİMON SUYU. > CHİA TOHUMLARINI 1-2 SAAT SUDA BEKLEKTTİKTEN SONRA HEPSİNİ BLENDIRDAN GEÇİRİYORUZ,
                            SABAH AÇ KARNINA İÇİYORUZ.
                            3 GÜN BOYUNCA TEKRARLIYORUZ .
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\14.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEleven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                            Nedir Bu İnsülin Direnci?
                        </button>
                    </h2>
                    <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 11px">
                            ‘’Çok az yemek yememe rağmen bir türlü kilo veremiyorum” “Su içsem yaradığını hissediyorum”
                            📌 Bu şikayetlerinizi duyar gibiyim peki bu şikayetlerin altında İnsülin Direnci yatıyor olabilir mi ?
                            📌İnsülin direnci, vücuttaki şekeri kontrol etmek için salgılanan insülinin etkisini gösterememesi veya yeterli düzeyde sağlayamaması olarak tanımlanabilir.
                            Normal şartlarda vücut şekeri 1 ünite insülin ile kontrol altına alabiliyorken insülin direnci olan bireylerde vücut 2-3 ünite insülin salgılamak durumunda kalabiliyor.
                            Bu da vücutta gereğinden fazla insülin salgılanıyor demektir.
                            📌 Peki bu İnsülin Direnci Neye Yol Açıyor?
                            Vücuttaki yağ oranının artması insülin direncine, insülin direnci de vücuttaki yağ oranının artmasına yani obeziteye neden oluyor diyebiliriz.
                            Aynı zamanda insülinin vücutta depolanmasına neden olduğu için kilo alımına, karaciğer yağlanmasına, kalp ve damar hastalıklarına neden olabilir.
                            Pankreas yetmezliği ve diyabet hastalığına kadar gidebilen ciddi bir tablo karşımıza çıkabilir.
                            📌 İnsülin Direnci Tedavisi Nasıl ?
                            Direncin yüksek olduğu kişilerde 2-3 ay ya da en fazla 6 aylık tedavilerle seviye normale döndürülebilir.
                            İnsülin direnci seviyesi normale döndüğünde de kilo vermenin önündeki engeller kalkmış olur. Dolayısıyla hastaların hızla iştahları kesilir ve kilo verir. Buna ek olarak da kalp hastalığı, kanser tiplerine yatkınlık ve şeker hastalığı da önlenmiş olur.
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col ">
            <img src="~/Web Proje\img\kisaVeOz\12.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwelve">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                            Nasıl Zayıflayabilirim ?
                        </button>
                    </h2>
                    <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Bu sorunun cevabı çok geniş uçludur çünkü beslenme programı kişiden kişiye göre değişir ve size özel olmalıdır.
                            Fakat sizlere yardımcı olabilecek birkaç öneri verebilirim ☺️
                            📌Öncelikle kan değerlerinizde bir problem olup olmadığına bakılması ve sonucuna göre mutlaka
                            bir uzmana başvurmanız gerekmektedir.
                            📌Aşırı yağlı yiyeceklerden, kızartmalardan uzak durmamız gerekmektedir.
                            📌Tavuğun derisini tüketmeyiniz. Kırmızı etlerin iç yağını olabildiğince az tüketmeye çalışalım.
                            📌Şekeri ve şeker içeren besinleri minimuma indirmeye özen gösterelim.Burda amacımız çaya şeker atmamak değildir unutmayalım 😉
                            📌Tam tahıllı ekmek ve yiyecekler kullanmaya özen gösterelim.
                            📌Öğün atlamayalım 3 Ana öğünü tüketmeye özen gösterelim.
                            📌Günlük düzenli olarak probiyotik tüketimine önem verelim.
                            📌Hareketinizi artırın günlük en az 5 bin adım hedefleyin.

                            Sağlıkla Kalın ☺️
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <div class="row  mt-5">
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\13.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThirteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                            Kahve
                        </button>
                    </h2>
                    <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Kahve , Afrika , Güney Amerika ve Güney Asya gibi tropik ülkelerde yetişen coffea arabica , coffea caneford gibi kahve ağaçlarının tohumlarından elde edilir .
                            📌Dünyada tüketilen kahvenin yarısından fazlası Brezilya’da üretilir .
                            📌Kahvenin kendisi kalori içermez ancak süt , krema ve şeker eklemesiyle kalorisi katlanır .
                            📌Fazla Tüketilmesi Halinde,
                            Kalp Problemleri : Kafein , kan basıncından ani yükselmelere sebep olmaktadır .
                            Bazı hassas bireylerde kalp ritmini artırır .
                            📌Kemik Kaybı : Çok fazla miktarda kahve tüketmek idrarla kalsiyum atımını artırır .
                            📌Duygu Durumu : Gerginlik ve asabiyete sebel olabilir .
                            📌Uyku Düzensizliği : Uykuya dalmayı zorlaştırır veya uyku süresini azaltabilir.
                            📌Günlük alınabilecek maksimum kafein için ; kahve tüketiminizi günlük 2 fincanla sınırlı tutmanız sağlığınız için olumlu olacaktır .
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\21.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNew">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNew" aria-expanded="false" aria-controls="flush-collapseNew">
                            Metabolizma Hızlandıran Kış Çorbası
                        </button>
                    </h2>
                    <div id="flush-collapseNew" class="accordion-collapse collapse" aria-labelledby="flush-headingNew" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            📝 Kalemi kağıdı hazırlayın size mükemmel bir çorba tarifi ile geldim☺️
                            İsterseniz öğün öncesi olarak isterseniz yanına bir salata ile ana öğün olarak tercih edebilirsiniz.
                            Postu Kaydetmeyi Unutmayın 💎
                            Hemen Malzemeler Gelsin :
                            🥦 1 Küçük Brokoli
                            🥒1 Adet Pırasa
                            🥕1 Adet Havuç
                            🌶1 Adet Kırmızı Biber
                            🍅1 Adet Domates
                            1 Tutam Zerdeçal
                            6-7 Dal Dereotu
                            1 Tutam Karabiber
                            💧 8-9 Bardak Su
                            🧄 2-3 Diş Sarımsak
                            Yapılışı :
                            Bütün sebzeleri yıkıyoruz daha sonra irice doğrayıp 🔪 tencereye alıyoruz. Üzerine 8-9 su bardağı su ilave edip baharatını atıp sebzeler yumuşayıncaya kadar pişmeye bırakıyoruz.
                            Sebzeler tamamen yumuşayınca blenderdan geçirelim. Blenderdan geçirdikçen sonra ince doğradığımız dereotunu da ilave edip tüketebiliriz . Afiyet Olsun 😋

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\2.jpeg" class="card-img-top" alt="...">
            <div class="card-body ">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Sık Yapılan Diyet Yanlışları
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            📌Obezite son yıllarda dünyanın ve ülkemizin de en büyük sağlık sorunlarından biri haline geldi.
                            📌Obezite ile mücadele edebilmek için önce yaptığımız yanlışları düzeltememiz gerekmektedir gelin hep birlikte en çok yapılan hatalara göz atalım
                            📌Öğün atlamak:
                            Metabolizmamızı canlı tutmak için 3 ana öğün ve diyetisyeniniz tarafından gerekli görülüyor ise ara öğünleri yapmanız gerekmektedir.
                            📌Karbonhidratları Diyetten Çıkarmak:
                            Karbonhidratlar temel enerji kaynağıdır, gün içerisinde yeterli karbonhidrat almazsanız , beyine glikoz göndermek üzere yakıt bulamakta zorlanır vücut .
                            📌Hızlı Kilo Vermek:
                            Birçok kişi kısa sürede hızlı kilo vermek ve mucize yaratmak ister.
                            Hızlı ve sağlıksız verilen kilolar yağ değil aksine su ve kas kaybıdır.
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\16.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSixteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
                            Ekmek Tüketiyor musunuz ?
                        </button>
                    </h2>
                    <div id="flush-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingSixteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Merhabalar ☺️
                            Ekmek 🥖 tüketiyor muyuz ?
                            Tüketiyorsak hangi tür ekmekleri tüketiyoruz yorumları bekliyorum ☺️
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\17.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeventeen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
                            Beslenme Çantasında Neler Olmalı ?
                        </button>
                    </h2>
                    <div id="flush-collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="flush-headingSeventeen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            📌Mehabalar yüz yüze eğitimin tekrardan başladığı bu salgın döneminde çocuklarımızın beslenme çantasında neler olmalı hadi birlikte inceleyelim.
                            📌Çocukların beden ve zihinsel gelişiminin en hızlı olduğu okul döneminde, en az ders notları kadar doğru beslenme alışkanlıklarının kazandırılmasına da önem verilmelidir.
                            Sağlıklı bir beslenme çantası hazırlamanın en kolay yolu, içine bütün besin gruplarından en az bir çeşit besin yerleştirmektir.
                            Beslenme çantası menülerini planlarken aynı besinlerin sık sık ve üst üste kullanılması çocuklar için sıkıcı olabilir. Farklı besinlerin kullanımı ile çocukların beslenme çantasından sıkılmasını önlemiş ve aynı zamanda beslenmesinde çeşitlilik sağlamış olursunuz.
                            Okulda teneffüs aralarında paketli hazır yiyecekler yerine taze veya kuru meyve, fındık, ceviz, badem, ayran, süt gibi hem vitamin hem de mineral içeren sağlıklı, besleyici besinler tercih edilmelidir.
                            Ara öğün alternatifi olarak çantasına;
                            Sebzeli/peynirli poğaçalar
                            Çok tahıllı un ve kurutulmuş meyve/ yağlı tohumlarla hazırlanmış ev yapımı kurabiyeler
                            Süt, kefir, koyabilirsiniz.
                            Beslenme çantasında mevsimine göre meyve ve sebze mutlaka olmalıdır. Özellikle kış mevsiminde çocukların bağışıklık sisteminin düzenlenmesi için C vitamini şarttır.
                            Protein ve kalsiyum kaynağı olan süt ve ayran bulunmalıdır. Kesinlikle hazır satılan bisküvi, kek, gofret gibi paketli yiyecekler tercih edilmemelidir.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\18.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEighteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
                            Oruç Tutarken Ne Zaman Tartılmalı ?
                        </button>
                    </h2>
                    <div id="flush-collapseEighteen" class="accordion-collapse collapse" aria-labelledby="flush-headingEighteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            ❓Ramazanlıkta en sık aldığım sorulardan biri ne zaman tartılmalıyım ?
                            🔸Sahurdan 7-8 saat sonra yapılan tartı ölçümleri, doğru sonucu görmenize yardımcı olur.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <img src="~/Web Proje\img\kisaVeOz\19.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNineteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNineteen" aria-expanded="false" aria-controls="flush-collapseNineteen">
                            Şeker Ve Vücuda Etkisi
                        </button>
                    </h2>
                    <div id="flush-collapseNineteen" class="accordion-collapse collapse" aria-labelledby="flush-headingNineteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Şeker içeriği yüksek bir besin ile aynı kaloride farklı bir besin tüketildiğinde vücuda geri dönüşleri farklıdır.
                            Aynı oranda enerji verirler ama şeker sizi daha hızlı acıktır ‼️
                            Yağ yakımını durdurur depolanmayı artırır. ETKİSİ ❔
                            Şeker kan akışını hızlandırır. Kan akışı yükseldiğinde yağ hormonları baskılanır.
                            Kan akışı yükseldiği hızda düşer , düştüğünde ise tekrar acıkırsınız .
                            Aynı şekilde şeker düştüğünde halsizlik yapar , yüksek enerji ihtiyacı ortaya çıkar.
                            Zamanla enerji ihtiyacınız için şekerin bağımlısı olursunuz...
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 ">
            <img src="~/Web Proje\img\kisaVeOz\20.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwenty">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwenty" aria-expanded="false" aria-controls="flush-collapseTwenty">
                            Yağ Yakan 5 Yiyecek
                        </button>
                    </h2>
                    <div id="flush-collapseTwenty" class="accordion-collapse collapse" aria-labelledby="flush-headingTwenty" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="font-size: 12px">
                            Bugün çok önemli bir konuya değinmek istedim, göbek çevremizi inceltecek ve zayıflamamıza yardımcı olacak📌 besini anlatmak istedim.
                            Öncelikle elinize bir mezura alın ve belinizi en ince yerinden ölçün
                            Erkekler için : 102 cm üzeri
                            Kadınlar için : 88 cm üzeri Tehlike ‼️
                            Dikkat etmemiz gerekiyor ve davranışlarımızı değiştiriyoruz.
                            Hayatımıza ekleyceğimiz göbek çevresini inceltecek
                            📌 Besin : Kahve ☕️
                            İçerisindeki kafein sayesinde metabolizmayı artırır. İştahı azaltır. Damarlardaki kireçlenmeyi önler. Algı ve konsantrasyonu artırır. Günde maks. 3 fincan tüketebilirsiniz. Tercihen: Türk Kahvesi , Filtre veya Çekirdek kahve içebilirsiniz.
                            📌 Besin : Yeşil Çay 🍵
                            İçerisindeki kateşinler sayesinde. Hücre onarımına yardımcı. Metabolizma hızlandırır.
                            📌 Besin : Limon 🍋 C vitamini açısından zengin.
                            Metabolizma hızlandırır.

                            📌 Besin : Yoğurt

                            Protein,Karbonhidrat ve yağ açısından zengin.
                            Konjuge linoleik asit sayesinde göbek yağlarını yok etmeye çalışıyor.
                            Kansızlık probleminiz yoksa ana öğünlerde tüketilen yoğurt tokluk hissini uzatacaktır.

                            📌 Besin : Kırmızı Acı Biber 🌶

                            Kapsaisin içeriği nedeni ile metabolizmayı hızlandırıcı özelliği bulunmaktadır.
                            Yoğurdunuzun içerisine limon ve acı kırmızı biber ekleyip ikindi öğününde tükettiğimizde akşam yemeğinde daha az yediğinizi görüceksiniz.

                            Sağlıkla Kalın ☺️
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>



</section>

